<!DOCTYPE html>
<html lang="en">

<head>
  <title>关于作者</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/app.css" rel="stylesheet">
</head>

<body>
  <h4>作者信息</h4>
  <ul>
    <li><p class="lead text-danger">作者：{{ . }}</p></li>
    <li><p class="lead">QQ: 211539653</p></li>
    <li><p class="lead">博客: <a href="https://www.cnblogs.com/nLesxw/">www.cnblogs.com/nLesxw/</a></p></li>
  </ul>

</body>
</html>